*{
    margin: 0;
    padding: 0;
}
html,body{
    color: black;
}

header{
    background-color: #CC453F;
    width: 100%;
    height: 150px;
}

header .navigation-bar{
    float: right;
    padding-right: 75px;
    padding-top: 45px;
    list-style: none;
}

header .branding img{
    transition: 400ms;
    float: left;
    width: 225px;
    height: 150px;
    padding-left: 25px;
}

header .navigation-bar li{
    padding: 25px;
    display: inline-block;
    text-shadow: 2px 2px 4px rgb(44, 44, 44);
}

header .navigation-bar .current a{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 0px 0px 0px;
}

header .navigation-bar li a{
    transition: 400ms;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
}

header .navigation-bar li a:hover{
    transition: 400ms;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 0px 0px 0px;
}

#showcase{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/DCL_WebsiteBanner.PNG");
    -webkit-background-size: cover;
    width: 100%;
    height: 845px;
    background-size: cover;
    position: fixed;
}

#showcase h1{
    transition: 400ms;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    margin-top: 200px;
    text-shadow: 2px 2px 4px gray;
}

#showcase p{
    transition: 400ms;
    font-size: 45px;
    text-align: center;
    font-family: arial;
    color: #ffffff;
    text-shadow: 2px 2px 4px gray;  
}

#showcase .showcase-book {
    background-color:#CC453F;
    color: #ffffff;;
    border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:25px;
	padding:15px 10px;
    text-decoration:none;
    transition: 400ms;
    text-align: center;
    margin-left: 850px;
    margin-top: 25px;
    box-shadow: 2px 2px 4px gray;

}
#showcase .showcase-book:hover {
    transition: 400ms;
    background-color: #ffffff;
    color: black;
}

/*Desktop Tops*/
@media (min-width: 1281px) {
    #showcase .showcase-book {
        background-color:#CC453F;
        color: #ffffff;;
        border-radius: 5px;
        display:inline-block;
        cursor:pointer;
        font-family:Arial;
        font-size:25px;
        padding:15px 10px;
        text-decoration:none;
        transition: 400ms;
        text-align: center;
        margin-left: 545px;
        margin-top: 25px;
        box-shadow: 2px 2px 4px gray;
    
    }
}

/*Phones*/
@media screen and (max-device-width: 480px) and (orientation: portrait){
    header .navigation-bar li a{
        transition: 400ms;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Dosis', sans-serif;
        font-size: 24px;
    }

    #showcase .showcase-book {
        background-color:#CC453F;
        color: #ffffff;;
        border-radius: 5px;
        display:inline-block;
        cursor:pointer;
        font-family:Arial;
        font-size:25px;
        padding:15px 10px;
        text-decoration:none;
        transition: 400ms;
        text-align: center;
        margin-left: 400px;
        margin-top: 25px;
        box-shadow: 2px 2px 4px gray;
    
    }
}


/*Laptops*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #showcase .showcase-book {
        background-color:#CC453F;
        color: #ffffff;;
        border-radius: 5px;
        display:inline-block;
        cursor:pointer;
        font-family:Arial;
        font-size:25px;
        padding:15px 10px;
        text-decoration:none;
        transition: 400ms;
        text-align: center;
        margin-left: 545px;
        margin-top: 25px;
        box-shadow: 2px 2px 4px gray;
    
    }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    #showcase .showcase-book {
        background-color:#CC453F;
        color: #ffffff;;
        border-radius: 5px;
        display:inline-block;
        cursor:pointer;
        font-family:Arial;
        font-size:25px;
        padding:15px 10px;
        text-decoration:none;
        transition: 400ms;
        text-align: center;
        margin-left: 400px;
        margin-top: 25px;
        box-shadow: 2px 2px 4px gray;
    
    }
}

/*Created by iiLxnden*/
